beautifulsoup4 
Django==3.2
docopt==0.6.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8 
Flask==1.1.2
Flask-Cors==3.0.8
Flask-RESTful==0.3.9
fsspec 
future==0.18.2
gevent 
glob2==0.7
greenlet 
gunicorn==20.0.4
HeapDict==1.0.1
html5lib 
idna 
imageio 
imagesize==1.2.0
importlib-metadata==4.5.0
iniconfig 
itsdangerous==1.1.0
jdcal==1.4.1
jedi 
MarkupSafe==0.23
Jinja2==2.11.2
joblib==0.15.1
json5==0.9.5
jsonify==0.5
jsonschema 
olefile==0.46
pandocfilters 
paramiko 
parso==0.7.0
partd==1.1.0
path 
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow 
pipreqs==0.4.11
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit 
psutil 
py 
pycodestyle==2.6.0
pycosat==0.6.3
pycparser 
pycurl==7.43.0.6
pydocstyle 
pyflakes==2.2.0
Pygments 
pylint 
pyOpenSSL 
pyparsing==2.4.7
pyreadline==2.1
pyrsistent 
python-dateutil==2.8.1
python-jsonrpc-server 
python-language-server 
pyttsx3==2.90
pytz==2020.1
QtPy==1.9.0
regex 
sklearn==0.0
Sphinx  
SQLAlchemy 
sqlparse==0.4.1
unicodecsv==0.14.1
urllib3 
